.match {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 10px;
    justify-content: end;
    margin: 10px auto;
    max-width: 1150px;
}

.match-title {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(251, 211, 10);
}