.Home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.home-header{
    grid-column: span 4;
    grid-row: span 1;
    justify-self: flex-start;
    align-self: center;
}